<% content_for :javascripts do %>
  <%= javascript_include_tag 'home/index', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= hidden_field(:user, :id, value: current_user.id) %>
<%= hidden_field(:user, :full_name, value: current_user.full_name) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="row">
        <div id="logo-column" class="col-md-2 col-md-offset-5">
          <%= image_tag('mushroom-logo.svg', id: 'logo-image') %>
        </div>
      </div>
      <div id="status-row" class="row connected">
        <div class="col-md-offset-5 col-md-7 right-align">
          <span id="status-span">Connected as <b><span id="username-span"><%= current_user.full_name %></span></b></span>
          <%= link_to('Sign Out', destroy_user_session_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to log out?' }) %>
        </div>
      </div>
    </div>
  </div>
  <div id="container" class="row">
    <div id="channel-panel" class="col-md-offset-2 col-md-2">
      <div id="channel-list" class="row not-showing">
        <% @users.each do |u| %>
        <div class="row channel-row">
          <div class="col-md-12">
            <p class="channel-element unselected-channel" data-userid='<%= u.id %>'>
              <%= u.full_name %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
      <div id="new-channel-input-row" class="row not-showing">
        <textarea placeholder="Type channel name" id="new-channel-input" rows="1" maxlength="20" class="channel-element"></textarea>
      </div>
      <div class="row">
        <%= image_tag('add-channel-image.png', id: 'add-channel-image') %>
      </div>
    </div>
    <div id="chat-window" class="col-md-4 with-shadow">
      <div id="message-list" class="row connected"></div>
      <div id="typing-row" class="row connected">
        <p id="typing-placeholder"></p>
      </div>
      <div id="input-div" class="row">
        <textarea id="input-text" disabled="true" placeholder="   Your message"></textarea>
      </div>
    </div>
    <div id="welcome-window" class="col-md-4">
      <h1 class="text-justify">Select a user from the list to start chatting</h1>
    </div>
  </div>
</div>
